<%= form_for @product do  |p|%>
  <% if @product.errors.any? %>
    <div id="error_messages">
      <h4>Sorry, we think something went wrong.  <%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved.</h4>

      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= p.label 'name'  %>
    <%= p.text_field 'name' %>
  </p>
  <p>
    <%= p.label 'description' %>
    <%= p.text_area 'description' %>
  </p>
  <p>
    <%= p.label 'price_in_cents' %>
    <%= p.text_field 'price_in_cents' %>
  </p>
  <p>
    <%= submit_tag "Save" %>
  </p>
<% end %>