<!DOCTYPE html>
<html>
<head>
  <title>Rainforest1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="row">
      <div class="small-6 columns">
        <h1><%= link_to "Rainforest", root_path %></h1>
      </div>
      <div class="small-6 columns left">
      </div>
        <p class="userinfo">
          <% if current_user %>
            Signed in as <%= current_user.name %>.  <%= link_to "Log out", session_path("current"), method: :delete %>
          <% else %>
            <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
          <% end %>
      </p>
    </div>
  </header>

  <article>

  <% if flash[:notice]  %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"> <%= flash[:alert] %></p>
  <% end %>
  <%= yield %>

  
  </article>
</body>
</html>
